# dependencies
node_modules
bun.lock
package-lock.json
pnpm-lock.yaml
yarn.lock

# testing
coverage

# next.js
.next
out

# production
build

# env files (can opt-in for committing if needed)
.env

# typescript
next-env.d.ts
